/* You can add global styles to this file, and also import other style files */
.center{
    text-align: center;
}
//to center the content
*{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: rgba(0, 200, 255, 0.894);
}
a{
    text-decoration: none;
    color: rgb(54, 54, 54);
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(227, 227, 227);
}
.flexcontainer{
    display: flex;
}
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */

@import "../node_modules/bootstrap/scss/bootstrap";
/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
