<marquee>Flash Sale On Iphone Product red get 50% off</marquee>
<div class="flexcontainer">

<div class="mobiles">
    <div class="center">
<img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/417PwBC+iEL._SY300_SX300_.jpg" alt="">
<h3>Iphone</h3>
<p>Apple iPhone 12 (64GB) - (Product) RED</p>
</div>
</div>

<div class="mobiles">
    <div class="center">
<img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/417PwBC+iEL._SY300_SX300_.jpg" alt="">
<h3>Iphone</h3>
<p>Apple iPhone 12 (64GB) - (Product) RED</p>
</div>
</div>

<div class="mobiles">
    <div class="center">
<img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/417PwBC+iEL._SY300_SX300_.jpg" alt="">
<h3>Iphone</h3>
<p>Apple iPhone 12 (64GB) - (Product) RED</p>
</div>
</div>

<div class="mobiles">
    <div class="center">
<img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/417PwBC+iEL._SY300_SX300_.jpg" alt="">
<h3>Iphone</h3>
<p>Apple iPhone 12 (64GB) - (Product) RED</p>
</div>
</div>

</div>
