

<marquee>Flash Sale On Avenger T-shirts get 50% off</marquee>
<div class="flexcontainer">

<div class="mobiles">
    <div class="center">
<img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/616sp5L102L._UY879_.jpg" alt="" style="height: 200px;">
<h3>Oversized BlackP T-shirt</h3>
<p>The Souled Store|Official Black Panther: Graphic Panther Mens and Boys Oversized Sweatshirts|Full Sleeve|Loose fit Graphic Printed| 80% Cotton 20% Polyester Lavender Color Men Oversized Sweatshirts</p>
</div>
</div>

<div class="mobiles">
    <div class="center">
<img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/616sp5L102L._UY879_.jpg" alt="" style="height: 200px;">
<h3>Oversized BlackP T-shirt</h3>
<p>The Souled Store|Official Black Panther: Graphic Panther Mens and Boys Oversized Sweatshirts|Full Sleeve|Loose fit Graphic Printed| 80% Cotton 20% Polyester Lavender Color Men Oversized Sweatshirts</p>
</div>
</div>

<div class="mobiles">
    <div class="center">
<img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/616sp5L102L._UY879_.jpg" alt="" style="height: 200px;">
<h3>Oversized BlackP T-shirt</h3>
<p>The Souled Store|Official Black Panther: Graphic Panther Mens and Boys Oversized Sweatshirts|Full Sleeve|Loose fit Graphic Printed| 80% Cotton 20% Polyester Lavender Color Men Oversized Sweatshirts</p>
</div>
</div>

<div class="mobiles">
    <div class="center">
<img src="https://m.media-amazon.com/images/W/WEBP_402378-T1/images/I/616sp5L102L._UY879_.jpg" alt="" style="height: 200px;">
<h3>Oversized BlackP T-shirt</h3>
<p>The Souled Store|Official Black Panther: Graphic Panther Mens and Boys Oversized Sweatshirts|Full Sleeve|Loose fit Graphic Printed| 80% Cotton 20% Polyester Lavender Color Men Oversized Sweatshirts</p>
</div>
</div>

</div>
